* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --color-bg: #051424;
  --color-bg-secondary: #010f1f;
  --color-bg-tertiary: #0d1c2d;
  --text-tertiary: #2fd9f4;
  --text-primary: #d4e4fa;
  --text-secondary: #c4c7c7;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
*,
*:before,
*:after {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input,
textarea,
select,
[tabindex]:not([tabindex='-1']) {
  outline: none; /* Remove focus outline on tap */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #051424; */
  background-color: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 1000;
}
.container {
  max-width: 95vw;
  padding: 0 1rem;
  margin: 0 auto;
  /* overflow-x: hidden; */
}

.colors {
  color: #1c2b3c;
  color: #010f1f;
}

@media (min-width: 992px) {
  .container {
    max-width: 90vw;
    padding: 0 2rem;
    margin: 0 auto;
  }
}
